<a href="https://colab.research.google.com/github/cuprianek/Machine_Learning_Bootcamp/blob/main/supervised/01_basics/feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### <a name='1'></a> Import bibliotek

In [1]:
import numpy as np
import pandas as pd
import sklearn

### <a name='1'></a> Za≈Çadowanie danych

In [5]:
def fetch_financial_data(company='NKE'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

              Open    High      Low   Close     Volume
Date
2023-03-03  120.13  121.04  119.020  120.94  3871822.0
2023-03-02  117.55  119.96  117.550  119.58  4443207.0
2023-03-01  117.95  119.79  117.830  118.58  4120488.0
2023-02-28  118.74  120.40  117.845  118.79  8414063.0
2023-02-27  119.26  119.82  118.320  118.53  4240017.0

### <a name='1'></a> Utworzenie kopii danych

In [7]:
df = df_raw.copy()
df = df[:5]
df

              Open    High      Low   Close     Volume
Date
2023-03-03  120.13  121.04  119.020  120.94  3871822.0
2023-03-02  117.55  119.96  117.550  119.58  4443207.0
2023-03-01  117.95  119.79  117.830  118.58  4120488.0
2023-02-28  118.74  120.40  117.845  118.79  8414063.0
2023-02-27  119.26  119.82  118.320  118.53  4240017.0

### <a name='1'></a> Generowanie nwoych zmiennych

In [8]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

              Open    High      Low   Close     Volume  day  month  year
Date
2023-03-03  120.13  121.04  119.020  120.94  3871822.0    3      3  2023
2023-03-02  117.55  119.96  117.550  119.58  4443207.0    2      3  2023
2023-03-01  117.95  119.79  117.830  118.58  4120488.0    1      3  2023
2023-02-28  118.74  120.40  117.845  118.79  8414063.0   28      2  2023
2023-02-27  119.26  119.82  118.320  118.53  4240017.0   27      2  2023

### <a name='1'></a> Dyskretyzacja zmiennej ciƒÖg≈Çej

In [30]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [13]:
df['height_cat'] = pd.cut(x=df.height, bins = 3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [22]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 185, 195))
df

AttributeError: ignored

In [31]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 185, 195), labels =['small', 'medium', 'tall'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0     medium
3   191.0       tall
4   184.5     medium
5   183.0     medium
6   168.0      small

In [32]:
df = pd.get_dummies(df, drop_first=True)
df

   height  height_cat_medium  height_cat_tall
0   175.0                  0                0
1   178.5                  1                0
2   185.0                  1                0
3   191.0                  0                1
4   184.5                  1                0
5   183.0                  1                0
6   168.0                  0                0

### <a name='1'></a> Ekstrakcja cech

In [33]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [34]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [43]:
df['lang_pl'] = df['lang'].apply(lambda x:1 if 'PL' in x else 0)
df

                  lang  lang_number  lang_pl
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0